//Colours
$primary: #4299e1;
$success: #2E8A5C;
$dark: #242240;
$light: #fefcfc;
$danger: #dc2f33;
$warning: #dc6c2f;

//Font Sizes & Family
$font-family: 'Quicksand', sans-serif;

$size-1: 3em;
$size-2: 2.50em;
$size-3: 2.25em;
$size-4: 1.75em;
$size-5: 1.50em;
$size-6: 1.125em;
$size-7: 1em;

//Font Weight
$weight-light:	300;
$weight-normal:	400;
$weight-medium:	500;
$weight-semibold:	600;
$weight-bold:	700;

//Line Height
$body-line-height: 1.50em;
